@import 'base';

body {
     font-family: $font-stack;
     margin: 0px;
}

h1,
h2,
strong {
  color: $main-text;
}

h2 {
     margin-top: 1em;
     padding-top: 1em
}

.container {
     @include flex-container;
     @include gradient-bg;
}

.card {
     @include card-styles;
     &__body {
       text-align: center;
       font-size: 1.5em;
       color: white;
       font-weight: 500;
       &__quote {
         font-family: cursive;
         font-size: 4em;
         margin: -0.8em;
       }
       &--light {
         color: $light-text;
         font-size: 0.6em;
      }
     }
}

.footer {
  align-self: flex-end;
  width: 100%;
  padding: 2em;
  color: white;
  &__body {
    display: flex;
    justify-content: space-between;
  }
}
