@import 'base';

body {
     font-family: $font-stack;
     background-color: #343434;
}

h1,
h2,
strong {
  color: $main-text;
}

h2 {
     margin-top: 1em;
     padding-top: 1em
}

.container {
     @include flex-container;
}

.card {
     @include card-styles;
     &__body {
       text-align: center;
       font-size: 1.5em;
       color: white;
       font-weight: 500;
       &__quote {
         @include gradient-text;
         font-family: cursive;
         font-size: 4em;
         margin: -0.8em;
       }
       &--light {
         color: $light-text;
         font-size: 0.7em;
      }
     }
}
